@import url('../../../../assets/styles/_variables.css');

section.hero-banner {
    position: relative;
    display: flex;
    justify-content: center;
    // height: 40rem;

    div.banner__wrapper {
        z-index: 1;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        div.banner-content {
            display: flex;
            padding: 2rem 0;
            flex-direction: column;
            align-items: center;

            div.attention-grabber {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1.content-heading {
                    color: var(--wh-color);
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0;
                    line-height: 3.5rem;
                    letter-spacing: 0.125rem;
                    font-size: 3rem;
                    font-family: Poppins, sans-serif;
                    font-size: clamp(2.5rem,8vw,4.5rem);
                    line-height: 1;
                    font-weight: 800;
                }

                h3.content-subheading {
                    color: var(--brand-color);
                    font-size: 2rem;
                    text-align: center;
                    font-family: Poppins, sans-serif;
                    line-height: 1;
                    text-transform: uppercase;
                }

                button#get-started {
                    border: 0 !important;
                    background: -webkit-gradient(linear, right top, left top, from(#e2af53), to(#c9a6ff)) !important;
                    background: linear-gradient(270deg, #e2af53 0, #c9a6ff 100%) !important;
                    border-color: linear-gradient(270deg, #e2af53 0, #c9a6ff 100%) !important;
                    color: #000 !important;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    background-image: unset;
                    text-align: center;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-size: 1.125rem;
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    letter-spacing: -0.014rem;
                    position: relative;
                    display: inline-block;
                    -webkit-transition: all 300ms ease 0ms;
                    transition: all 300ms ease 0ms;
                    border-radius: 0.375rem;
                    cursor: pointer;
                    min-height: 3.375rem;
                    min-width: 12.25rem;
                    border-width: 0.125rem !important;
                    border-style: solid;
                    line-height: 1 !important;
                    background-color: #1d63ed;
                    border-color: #1d63ed !important;
                    padding: 1rem 1.5rem;
                    margin-top: 1rem;

                    &:hover {
                        order: 0 !important;
                        background: -webkit-gradient(linear, right top, left top, from(#e2af53), to(#c9a6ff)) !important;
                        background: linear-gradient(270deg, #e2af53 0, #c9a6ff 100%) !important;
                        border-color: linear-gradient(270deg, #e2af53 0, #c9a6ff 100%) !important;
                        color: #000 !important;
                    }

                    span.label-text {
                        padding-right: 0.2rem;
                        font-size: 1.3rem;
                    }

                    span + span {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

div.feature-cards-container {
    width: 100%;
    z-index: 99;
    bottom: 0;
    right: 0;
    left: 0;
    top: 4rem;
    position: relative;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: row;

    div.row {
        div.feature-card-wrapper {
            padding: 0;
            margin-top: 0;

            &:nth-child(1) {
                div.feature-card-inner {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 2.5rem;
                }
            }
            &:nth-child(2) {
                div.feature-card-inner {
                    border-radius: 0;
                    padding: 2.5rem;
                }
            }
            &:nth-child(3) {
                div.feature-card-inner {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 2.5rem;
                }
            }

            div.feature-card-inner {
                background-color: var(--white-color);
                border: 0.063rem solid var(--border-color-5);
                border-radius: 1rem;
                width: 100%;
                height: 100%;
        
                &:nth-child(2) {
                    border-radius: none !important;
                }
        
                div.feature-card-header {
                    h1.feature-card-title {
                        color: var(--charcoal-color);
                        text-align: center;
                        font-size: 1.5rem;
                        line-height: 1.125;
                        font-weight: 800;
                    }
                    h2.feature-card-subtitle {
                        color: var(--font-color-2);
                        text-align: center;
                        font-size: 1rem;
                        line-height: 1.125;
                        font-weight: 500;
                    }
                }
                div.feature-card-body {
                    div.feature-row {
                        h3.feature-row-title {
                            color: var(--charcoal-color);
                            text-align: center;
                        }
                        
                        p {
                            color: var(--charcoal-color);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    section.hero-banner {
        div.banner__wrapper {

            div.banner-content {

                div.attention-grabber {

                    h1.content-heading {
                        font-size: clamp(1.5rem, 8vw, 4.5rem);
                    }
                    
                    h3.content-subheading {
                        font-size: clamp(1rem, 5vw, 1.5rem);
                    }
                }
            }
        }
    }

    div.feature-cards-container {
        position: relative;
        background-color: #fff;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 7rem;
        padding-top: 2.5rem;
        
        div.row {
            width: 85%;

            div.feature-card-wrapper {
                padding: 0;
    
                &:nth-child(1) {
                    div.feature-card-inner {
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                        padding: 0;
                    }
                }
                &:nth-child(2) {
                    margin-top: 0;
                    margin-bottom: 0;

                    div.feature-card-inner {
                        border-radius: 0;
                        padding: 0;
                    }
                }
                &:nth-child(3) {
                    margin-top: 0;

                    div.feature-card-inner {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 1rem;
                        padding: 0;
                    }
                }
            }
        }
    }

    div.curved-wrapper { }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    section.hero-banner { }
}

/* Extra small devices (phones, 360px and down) */
@media only screen and (max-width: 390px) {
    div.curved-wrapper {
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}