<section class="hero-banner">
    @defer () {
    } @loading {
        <app-loader></app-loader>
    }
    <div class="banner__wrapper">
        <div class="banner-content">
            <div class="attention-grabber">
                <h1 class="content-heading">HI, I&#39;M<br/>ANDREW BIGBY</h1>
                <h3 class="content-heading">Frontend UI | UX Developer</h3>
                <button id="get-started" class="lnk-btn lnk-btn--primary lnk-btn--arrow">
                    <span class="label-text">
                        Discover
                    </span>
                    <span>
                        <!-- <fa-icon [icon]="faArrowRight"></fa-icon> -->
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
<div class="container feature-cards-container">
    <div class="row row-cols-1 row-cols-md-4 g-5 justify-content-center">
        <div class="col-md-3 col-sm-12 feature-card-wrapper">
            <div class="feature-card-inner p-10">
                <div class="feature-card-header">
                    <h1 class="feature-card-title">
                        UI | UX Design
                    </h1>
                    <h2 class="feature-card-subtitle">
                        Wireframes &amp; Low/High Fidelity Mockups
                    </h2>
                </div>
                <div class="feature-card-body">
                    <div class="feature-row">
                        <h3 class="feature-row-title">
                            Figma | Photoshop | Illustrator | Balsamiq | Microsoft Visio | UX | UI | Logos
                        </h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-card-wrapper">
            <div class="feature-card-inner p-10">
                <div class="feature-card-header">
                    <h1 class="feature-card-title">
                        Frontend UI Dev
                    </h1>
                    <h2 class="feature-card-subtitle">
                        Libraries &amp; Javascript Frameworks
                    </h2>
                </div>
                <div class="feature-card-body">
                    <div class="feature-row">
                        <h3 class="feature-row-title">
                            Javascript | Typescript | Angular | React | HTML | CSS | MongoDB | RxJS | e2e/Unit Testing
                        </h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-card-wrapper">
            <div class="feature-card-inner p-10">
                <div class="feature-card-header">
                    <h1 class="feature-card-title">
                        Scaffolding Tools
                    </h1>
                    <h2 class="feature-card-subtitle">
                        Scaffolding Tools &amp; Project Management
                    </h2>
                </div>
                <div class="feature-card-body">
                    <div class="feature-row">
                        <h3 class="feature-row-title">
                            VS Code | Git | Jira/Azure | Terminal | GitHub/GitLab | Postman | Browser DevTools
                        </h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="curved-wrapper">
    <!-- <div class="curved-bottom"></div> -->
</div>
<div class="hero-background"></div>
