<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="resume-wrapper">
                <div style="width: 100%; text-align: center;margin-bottom: 2rem;">                
                    <a id="download-resume" href="../../../assets/files/pdf/hire_abigby_resumeMay202024.pdf">Download Resume <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5535 16.5061C12.4114 16.6615 12.2106 16.75 12 16.75C11.7894 16.75 11.5886 16.6615 11.4465 16.5061L7.44648 12.1311C7.16698 11.8254 7.18822 11.351 7.49392 11.0715C7.79963 10.792 8.27402 10.8132 8.55352 11.1189L11.25 14.0682V3C11.25 2.58579 11.5858 2.25 12 2.25C12.4142 2.25 12.75 2.58579 12.75 3V14.0682L15.4465 11.1189C15.726 10.8132 16.2004 10.792 16.5061 11.0715C16.8118 11.351 16.833 11.8254 16.5535 12.1311L12.5535 16.5061Z" fill="#1C274C"/>
                    <path d="M3.75 15C3.75 14.5858 3.41422 14.25 3 14.25C2.58579 14.25 2.25 14.5858 2.25 15V15.0549C2.24998 16.4225 2.24996 17.5248 2.36652 18.3918C2.48754 19.2919 2.74643 20.0497 3.34835 20.6516C3.95027 21.2536 4.70814 21.5125 5.60825 21.6335C6.47522 21.75 7.57754 21.75 8.94513 21.75H15.0549C16.4225 21.75 17.5248 21.75 18.3918 21.6335C19.2919 21.5125 20.0497 21.2536 20.6517 20.6516C21.2536 20.0497 21.5125 19.2919 21.6335 18.3918C21.75 17.5248 21.75 16.4225 21.75 15.0549V15C21.75 14.5858 21.4142 14.25 21 14.25C20.5858 14.25 20.25 14.5858 20.25 15C20.25 16.4354 20.2484 17.4365 20.1469 18.1919C20.0482 18.9257 19.8678 19.3142 19.591 19.591C19.3142 19.8678 18.9257 20.0482 18.1919 20.1469C17.4365 20.2484 16.4354 20.25 15 20.25H9C7.56459 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15Z" fill="#1C274C"/>
                    </svg></a></div>
                <section class="heading">
                    <h1 class="name">
                        Andrew Bigby
                    </h1>
                    <h2 class="professional-title">
                        Senior Software Developer
                    </h2>
                    <div class="contact-location">
                        <span class="phone">954-695-7745</span>
                        <span class="email mx-3">abigby&#64;live.com</span>
                        <span class="location">Port St. Lucie, FL, United States</span>
                    </div>
                </section>
                <section class="profile-summary">
                    <h1 class="profile-summary-title">
                        About Me <span>&#8212;Primary Focus</span>
                    </h1>
                    <p>
                        I am a self-motivated and system for success oriented Senior Frontend Software Developer who not only focuses on writing clean, elegant and efficient code; creating scalable applications using a range of technologies and programming languages. Something that&#39;s unique about me is that I have a background in design, subsequently, I often contribute to User Experience discussions and User Interface design wireframing the development of low and high-fidelity mockups.
                    </p>
                </section>
                <section class="education-summary">
                    <h1 class="education-summary-title">Education</h1>
                    <span class="school">
                        Florida Atlantic University (FAU) - 2013
                    </span>
                    <span class="degree">
                        Bachelor of Science in Computer Science
                    </span>
                </section>
                <section class="technical-skills-summary">
                    <h1 class="skills-section-title">Technical Skills</h1>
                    <div>
                        <h3>Development</h3>
                        <p>CSS3 | SASS | SCSS | HTML5 | Angular 18 | Angular Material | React.js | Next.js | Javascript ES6+ | Typescript | RxJs, Node.js | Nest.js | Express.js | MongoDB | Mongoose | GraphQL | SQL | MySQL | NoSQL | Unit Testing | e2e Testing | Cypress | Jest | Python 3</p>
                    </div>
                    <div>
                        <h3>Design</h3>
                        <p>Figma | Balsamiq | Photoshop | Illustrator | Wireframes | Low/High Fidelity Mockups | User Interface Design (UI) | User Experience Design (UX) | Single Page Application (SPA) | Responsive Web Design | Mobile First | Micro-Frontend</p>
                    </div>
                    <div>
                        <h3>Tools</h3>
                        <p>
                            VSCode | Git Version Control| Jira | Terminal | Git Bash | Angular CLI | Nest.js CLI | Chrome Dev Tools | GitLab | GitHub | Azure | Microsoft Visio | Adobe Photoshop | Adobe Illustrator | Figma | Balsamiq | Postman | Webpack | Webpack Module Federation | SCRUM Agile
                        </p>
                    </div>
                </section>
                <section class="work-preference">
                    <h3>**Work Preferences**</h3>
                    <dl>
                        <dt>Work Location</dt>
                        <dd>100% Remote Preferred</dd>
                        <dt>Employment Types</dt>
                        <dd>Full-Time</dd>
                        <dt>Industry Experience</dt>
                        <dd>Telehealth, Telecommuncations, Healthcare, BioTech, FinTech, eCommerce</dd>
                        <dt>Project Types</dt>
                        <dd>Migration, Green Field, Maintenance</dd>
                    </dl>
                </section>
                <section class="experience-employment-history">
                    <h1 class="experience-employment-history-title">Experience</h1>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">
                                HUD The Department of Housing and Urban Development <i>(KForce Inc., Contract)</i>
                            </span>
                            <span class="date">May 2013 - Present</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Senior Frontend Developer</span>
                            <span class="location">&#8212;Remote</span>
                        </div>
                        <div class="experience-description">
                            <p><b>Loan Review System (LRS):</b> is the electronic platform for most Federal Housing Administration (FHA) Title II Single Family quality assurance review processes. The purpose of LRS is to perform FHA Single Family Title II mortgage reviews, test case loan reviews, various Title II post endorsement loan reviews, various Title II post endorsement loan reviews, Title II lender monitoring reviews, and Title II loan reviews reported by lenders due to instances of Fraud and misrepresentation or other material findings. LRS merges and unifies the loan review workload management functions and lender reporting functions into a single integrated application.
                            </p>
                            <ul>
                                <li>Display data using interactive tables and different types of charts
                                </li>
                                <li>Integrated new features and perform code maintenance task in Angular</li>
                                <li>Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.</li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>Angular 16 | TypeScript | JavaScript | RxJS | Restful API | Jira | Git | CSS | Kanban | Cypress | Jest | e2e Testing</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">SEC - Securities &amp; Exchange Commission <i>(Arch Sytems Inc., Contract)</i></span>
                            <span class="date">OCT 2022 - FEB 2023</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Senior Frontend Developer</span>
                            <span class="location">&#8212;Remote</span>
                        </div>
                        <div class="experience-description">
                            <p><b>OIDS:</b> A one-stop-shop Micro-Frontend dashboard application for business users to extract quantitative and qualitative data and generate risk-based analysis reports.
                            </p>
                            <ul>
                                <li>Display data using interactive tables and different types of charts via Angular Material
                                </li>
                                <li>Integrate new features that enable users to take advantage of predefined runtime configuration parameters based on refined User Stories; broken down in prioritized task in Azure</li>
                                <li>Integrate report generation features and capabilities (editing, bulk upload, report download scheduling, group reports etc.)</li>
                                <li>
                                    Proficiently utilized Figma to create and review design mockups, wireframes, collaborating seamlessly with development teams. Leveraged Figma's design-to-code features to facilitate the translation of visual designs into actual code.
                                </li>
                                <li>
                                    Used Angular for creating SPA, interactive UI&#39;s
                                </li>
                                <li>
                                    Used git for version control
                                </li>
                                <li>
                                    Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.
                                </li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>Angular 14 | TypeScript | RxJS | Restful API | Jira | Git | Java | Java Spring Boot | CSS | Azure | SCRUM Agile</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">NEOGENOMICS LABORATORIES Inc.</span>
                            <span class="date">Dec 2020 - Aug 2022</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Software Developer</span>
                            <span class="location">&#8212;Remote</span>
                        </div>
                        <div class="experience-description">
                            <p><b>Cohort Builder Application:</b> A cancer testing-and-research focused dashboard style web application. The application gives professional users the ability to get answers to complex questions related to precision oncology biomarker testing and treatment options. The application allows users to create precision oncology cohorts via drag and drop features which can then be saved and shared with approved colleagues in network. Cohorts provide various charted visuals (Geographic, Patient Demographic, Provider & Patient Data, Facility Data etc.) based on real-time data from selected dragged and dropped query options. Cohorts are both in graphical view and string formats.
                            </p>
                            <ul>
                                <li>Integrated data filtering features and tools in Angular 12 to manage data used for FISH testing.
                                </li>
                                <li>Display data using interactive tables and different types of charts via Angular Material and HighCharts respectively.</li>
                                <li>Integrated features that adhere to HIPPA standards </li>
                                <li>Migrate, integrate new features and develop new projects based on refined User Stories; broken down in prioritized task in Azure.</li>
                                <li>Reduced technical debt through refactoring code and transitioning to new 3rd party tools etc.</li>
                                <li>
                                    Usability Testing.
                                </li>
                                <li>Participated in User Experience and User Interface Design discussions</li>
                                <li>Proficiently utilized Figma to create and review design markups, collaborating seamlessly with development teams.</li>
                                <li>Leveraged Figma's design-to-code features to facilitate the translation of visual designs into actual code</li>
                                <li>Used git for version control</li>
                                <li>Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.</li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>Angular 12 | Angular Material | React.js | TypeScript | RxJS | MySQL | Snowflake | RESTful API | Figma | Azure | Git | Java | SASS | SCRUM Agile | Micro-Frontend</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">
                                Clearly Agile Inc.
                            </span>
                            <span class="date">
                                Nov 2019 - Dec 2020
                            </span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Fullstack Developer</span>
                            <span class="location">&#8212;Remote</span>
                        </div>
                        <div class="experience-description">
                            <p><b>QRMS &#8208; Quality Review Management System:</b> A web application that provides engagement management.
                            </p>
                            <ul>
                                <li>Implement web application and development principles to build stable software.
                                </li>
                                <li>Create new features, functional and capabilities based on refined User Stories; broken down in prioritized task.</li>
                                <li>Integrated complex conditional logic forms to solve or meet fundamental issues or needs in the business&#39; line of service.</li>
                                <li>Display and manage data using tables, autocompletes, tabs, grids, lists etc.</li>
                                <li>Create new service endpoints using Nest.js</li>
                                <li>Usability and Unit Tests</li>
                                <li>Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.</li>
                                <li>Used git for version control</li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>Angular | Angular Material | RESTful API | Node.js | Nest.js | Jest | TypeScript | RxJS | MongoDB | Mongoose | Git | C# | .NET | SASS | CSS | SCRUM Agile</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">
                                Verizon Data Services
                            </span>
                            <span class="date">Jan 2017 - Aug 2019</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Frontend Developer</span>
                            <span class="location">&#8212;Tampa, FL</span>
                        </div>
                        <div class="experience-description">
                            <p><b>Nautilus:</b> An inventory management application that provides industry standard data model for telecommunication devices, cell sites, cable networks and connections. New devices can be plugged in and discovered for use.  Create services that support all layers (Physical, Logical)</p>
                            <ul>
                                <li>Migration project translating old specifications into new integration
                                </li>
                                <li>Created basic and advanced search components to filter data
                                </li>
                                <li>Sort and Manage results using  Datatables</li>
                                <li>Load records based on selected search result</li>
                                <li>Load records based on selected search result</li>
                                <li>Integrated tools that interact with physical network devices etc.</li>
                                <li>Used git for version control</li>
                                <li>Worked with REST APIs to consume data in JSON data format and display using JavaScript Objects etc.</li>
                            </ul>
                        </div>
                        <div class="experience-description">
                            <p><b>IP Management Module:</b> A unified IP Management Service dashboard application that manages a pool of IP address assignments across different regions.</p>
                            <ul>
                                <li>Translated mockups/wireframe using React.js workflows
                                </li>
                                <li>Identified web-based user interactions and developed highly responsive user interface components using React.js concepts
                                </li>
                                <li>Developed React.js re-usable and styled components</li>
                                <li>Used React.js in the development of an IP management dashboard which allows engineers to generate management solutions for its IP listings across multiple regions. This was accomplished through using React.js to implement CRUD operations; such as searching, assigning IPs, unassigning IPs, updating IPs and removing on several devices dynamically
                                </li>
                                <li>Participated in User Experience and User Interface Design discussions</li>
                                <li>Used Microsoft Visio to create mockups and wireframes for new feature integration into the User Interface.
                                </li>
                                <li>Developed low and high-fidelity mockup</li>
                                <li>Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.
                                </li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>Angular, RESTful API, React.js, Microsoft Visio, Git, jQuery, Jira, Java, Java Spring Boot, CSS</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">Health Plan Services Inc.</span>
                            <span class="date">Apr 2016 - Oct 2016</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Frontend Developer</span>
                            <span class="location">&#8212;Remote</span>
                        </div>
                        <div class="experience-description">
                            <p>
                                <b>Insurance Carrier Onboarding Applications:</b> Assisted in the development and maintenance of the company&#39;s healthcare dashboard applications used by the nation&#39;s largest health care providers. The application must meet HIPPA healthcare regulatory standards. 
                            </p>
                            <ul>
                                <li>Developed User Interface style guide based on best practices/principles to fulfill the needs of the wide range of users that could potentially use this application. Used Photoshop and Illustrator.
                                </li>
                                <li>Participated in User Experience discussions.
                                </li>
                                <li>Integrated new UI features using HTML5, CSS3, jQuery and JavaScript into dashboard application while adhering to HIPPA regulatory standards.</li>
                                <li>Used git for version control</li>
                                <li>Worked with RESTful APIs to consume data in JSON data format and display using JavaScript Objects etc.</li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>jQuery | RESTful API | JavaScript | Photoshop | Git | HTML5 | CSS | Grunt | PHP</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">MDLive Inc.</span>
                            <span class="date">Jul 2015 - Apr 2016</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Frontend Developer</span>
                            <span class="location">&#8212;Sunrise, FL</span>
                        </div>
                        <div class="experience-description">
                            <p>
                                <b>MDLIVE Client Telehealth Portals:</b> An on-demand telehealth app that provided patients with remote access via video, phone, and secure email to board certified physicians. Major carriers who subscribe to the telehealth service gain access through customized landing page templates. 
                            </p>
                            <ul>
                                <li>Developed customized landing pages for healthcare vendors using HTML5, CSS3, JavaScript with Ruby on Rails
                                </li>
                                <li>Assisted in developing and maintaining responsive web applications using the principles of UI/UX. Troubleshoot and fix bugs on front-end.
                                </li>
                                <li>Performed Usability Testing and bug fixes</li>
                                <li>Managed JIRA task that pertains to each vendor</li>
                                <li>Used git for version control</li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>jQuery | RESTful API | JavaScript | Photoshop | Ruby on Rails | Git | Jira | CSS | HTML</p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="experience-company">
                            <span class="company">Ability Commerce</span>
                            <span class="date">Sept 2014 - May 2015</span>
                        </h3>
                        <div class="title-location">
                            <span class="title">Frontend Developer</span>
                            <span class="location">&#8212;Delray Beach, FL</span>
                        </div>
                        <div class="experience-description">
                            <p>
                                <b>Marketing CMS:</b> Maintained client websites improving the User Interface, Web Graphics, Content Style Guides, Wireframes and Prototypes for e-commerce platform.
                            </p>
                            <ul>
                                <li>Maintained company&#39;s content management system for each specific vendor using HTML5, CSS3, JavaScript and jQuery.
                                </li>
                                <li>Designed product promotions and sales event flyers
                                </li>
                                <li>Designed HTML email marketing templates using HTML and CSS3</li>
                                <li>Developed low and high-fidelity mockup</li>
                                <li>Participated in User Experience and User Interface Design discussions</li>
                                <li>Used git for version control
                                </li>
                            </ul>
                            <div class="environtment-technologies">
                                <h3>Environment</h3>
                                <p>jQuery | HTML | CSS | JavaScript | Photoshop | C# | .NET</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>