/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('./assets/styles/_variables.css');
@import url('./assets/styles/_helper.css');
@import url('./assets/fonts/fonts-inter.css');
@import url('./assets/fonts/fonts-poppins.css');
@import url('./assets/fonts/fonts-roboto.css');

*, ::after, ::before {
    box-sizing: border-box;
}
html { min-height: 100%; }
html, body { height:100% !important; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.625;
    color: var(--font-color-5);
    background-color: var(--body-color);
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

// app-home,
// app-hero,
app-root {
    display: block;
    height: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
    color: var(--title-color);
    line-height: 1.25;
    font-weight: 600;
}

h1.title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.125;
    color: var(--title-color)
}
h2.secondary-title {
    font-size: 1.5rem;
    font-weight: normal;
}
h3.tertiary-title {
    font-size: 1rem;
    font-weight: bold;
}
.gradient-text {
    &.blue {
        background: linear-gradient(90deg, rgb(0, 8, 77) 0px, rgb(29, 99, 237) 100%);
    }
}


