:root {
    --brand-color: #e2af53;
    --secondary-color: #e2af53;
    --primary-color: #0A4FD5;
    --tertiary-color: #030F2A;
    --tertiary-color2: #F5F7FC;
    --tertiary-color3: #F5F7FC;
    --white-color: #FFF;
    --tertiary-color4: #3863e0;
    --body-color: #165a75;
    --header-bg-color: #0e352a;
    --header-bg-color2: #093d47;
    --border-color: #1D273C;
    --border-color-4: #e2af53;
    --border-color-5: #F1F4FB;
    --border-color-6: #E5F9F3;
    --border-color-7: #9DB9EE;
    --border-color-8: rgba(189, 189, 189, 0.2);
    --border-color-9: rgba(5, 0, 26, 0.12);
    --border-color-10: rgba(20, 24, 33, 0.10);
    --border-color-11: #E6E6E6;
    --feature-bg-color: #00150F;
    --social-border-color: #F0F4FA;
    --social-border-color-2: #ECEFF2;
    --social-border-color-3: #ECEFF2;
    --form-border: #CFDEF1;
    --title-color: #fff;
    --title-color-style2: #0C263A;
    --font-color: #7C8F9B;
    --font-color-light: #6B6F7F;
    --font-color-2: rgba(255, 255, 255, 0.6);
    --font-color-3: rgba(255, 255, 255, 0.70);
    --font-color-4: #B0B3BF;
    --font-color-5: #FFFFFF;
    --font-color-6: #00150F;
    --font-color-7: #e2af53;
    --bg-color: #030F2A;
    --bg-color-trans: #010d28;
    --bg-grad-color: #FFF;
    --bg-grad-color-trans: rgba(255, 255, 255, 0.00);
    --bg-grad-color-2: #D5E5F9;
    --bg-grad-color-trans-2: rgba(255, 255, 255, 0.22);
    --bg-grad-color-3: #E9EFF7;
    --bg-grad-color-trans-3: rgba(240, 244, 250, 0.16);
    --bg-grad-color-4: rgba(0, 208, 148, 0.32);
    --bg-grad-color-trans-4: rgba(229, 237, 248, 0.00);
    --bg-color-2: #F5F8FC;
    --bg-color-3: #FFFFFF;
    --bg-color-4: linear-gradient(150.39deg, rgba(237, 242, 248, 0.22) 15.02%, #52eaf0 99.59%);
    --bg-color-5: linear-gradient(150.39deg, rgba(237, 242, 248, 0.22) 15.02%, #52eaf0 99.59%);
    --bg-color-6: #F5F7FC;
    --bg-color-7: #F1F4FB;
    --bg-color-8: #124D6D;
    --bg-color-9: #FFFF;
    --bg-color-10: #d7ff80;
    --bg-color-11: #141821;
    --bg-color-12: #141821;
    --bg-color-14: #FFF6E0;
    --bg-color-15: rgba(43, 40, 40, 0.15);
    --bg-color-17: rgb(220, 53, 69);
    --bg-color-18: rgba(5, 0, 26, 0.12);
    --bg-white: #ffffff;
    --bg-team: #d6e5ff;
    --form-focus-color: #366CD5;
    --wh-color: #fff;
    --black-color: #000;
    --floating-content-border-color: rgba(0, 0, 0, 0.02);
    --floating-content-bg-color: rgba(255, 255, 255, 0.95);
    --floating-content-bg-color-2: rgba(255, 255, 255, 0.50);
    --service-item-border-color: #fff;
    --service-item-bg-color: #fff;
    --faq-item-btn-border-color: #03314b12;
    --faq-bg-color: #fff;
    --extra-bg-color: #fff;
    --tag-bg-color: #EDFFFA;
    --bg-shape-color: #B8CFEB;
    --bg-shape-color-trans: rgba(255, 255, 255, 0.22);
    --bg-shape-color-2: #D5E5F9;
    --bg-shape-color-trans-2: rgba(255, 255, 255, 0.22);
    --footer-bg-color: #00150F;
    --faq-img-bg-shadow: #16d466;
    --pagination-bg-color: #E0FAF2;
    --section-bg-color: #f8f8f8;
    --sec-bg-color-2: #fff;
    --account-bg-color: #F5F7FC;
    --account-bg-color2: #FFF;
    --arrow-color1: #B5CAF2;
    --arrow-icon-color: #0A4FD5;
    --header-border-color: #EBE9E1;
    --header-border-color2: rgba(255, 255, 255, 0.12);
    --banner2-bg-color: #0e241d;
    --about-img-bg-shadow: #85F2D382;
    --cta-img-bg-shadow: #45554b;
    --warning-color: #F79009;

    --border-radius: 9px;

    /* FONT SIZES */
    --font-size-0: 0.8rem;
    --font-size-1: 1rem;
    --font-size-2: 1.5rem;
    --font-size-3: 2rem;
    --font-size-4: 2.5rem;
    --font-size-5: 3rem;
    --font-size-6: 3.5rem;
    --font-size-7: 5rem;
    --font-size-8: 5.5rem;
    --font-size-9: 6rem;
    --font-size-10: 6.5rem;

    /* LINE HEIGHT SIZES */
    --line-height-size-0: 0.8rem;
    --line-height-size-1: 1rem;
    --line-height-size-2: 1.5rem;
    --line-height-size-3: 2rem;
    --line-height-size-4: 2.5rem;
    --line-height-size-5: 3rem;
    --line-height-size-6: 3.5rem;
    --line-height-size-7: 5rem;
    --line-height-size-8: 5.5rem;
    --line-height-size-9: 6rem;
    --line-height-size-10: 6.5rem;

    /* BREAKPOINTS - SCREEN SIZES */
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}